@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Quicksans", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header.navbar-container {
  max-width: 1200px;
  width: 100%;
  /* margin-inline: auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  z-index: 999;
  background-color: #ffffff;
}

header.navbar-container .logo img {
  width: 120px;
  margin-left: 180%;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #000000;
  color: white;
}

/* content */
main {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem 4rem;
  flex: 1;

  display: flex;
  align-items: center;
}

main .content {
  flex: 1;
  display: flex;
  align-items: center;
}

main .content .content-description {
  flex: 1 1;
}

main .content .content-description .title {
  font-size: 3.5rem;
  margin-block: 1rem;
}

main .content .content-description p {
  line-height: 1.7rem;
  font-size: 1.2rem;
  color: #717694;
}

main .content .content-description button {
  padding: 0.8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: white;

  border: 3px solid transparent;
  border-radius: 999px;
  background-color: #2d3e50;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

main .content .content-description button:hover {
  border: 3px solid #2d3e50;
  color: #2d3e50;
  background-color: transparent;
}

/* image content */
main .content .content-image {
  flex: 1;
  display: flex;
}

main .content .content-image img {
  margin: auto;
  min-width: 250px;
  width: 300px;
}

/* button */
main .content .content-description button {
  padding: 0.8rem 2.5rem;
  margin-block-start: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  color: white;

  border: 3px solid transparent;
  border-radius: 30px;
  background-color: #000000;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

main .content .content-description button:hover {
  border: 3px solid #000000;
  color: #000000;
  background-color: transparent;
}

/* Style untuk carousel */
#carouselExampleIndicators {
  max-width: 350px;
  margin: auto;
}

/* Style untuk tombol navigasi carousel */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-inner{
  border-radius: 15px;
}

/* Style untuk indikator carousel */
.carousel-indicators li {
  background-color: #333;
}

.carousel-indicators .active {
  background-color: #000;
}

  .carousel-item {
    height: auto; /* Atur tinggi sesuai kebutuhan */
  }

footer {
  background-color: #000000;
  color: white;
  text-align: center;
}
